# 1. Before get started

## Python Enviroment 

### 1. Download and Install Anaconda
* https://www.anaconda.com/distribution/


### 2. Open Jupyter Notebook
1. Via Anacoda
![alt text](https://drive.google.com/uc?id=1Lj1om6MzyOWfYnR-ZCsYnhNrlNc8d6kY)

2. Terminal
```
jupyter notebook
```
![alt text](https://drive.google.com/uc?id=1lMwo_mmfmdrePC6dVJ5YeR8hLaoaGXm0)

### 3. Markdown
* Cheat Sheet https://en.support.wordpress.com/markdown-quick-reference/
* Online Editor https://stackedit.io/app#

### 4. Basic Python Libraries for Data Analytis
1. **pandas** : Excel in Python - Data Manipulation 
- panda exercises https://github.com/guipsamora/pandas_exercises 
```python
import pandas as pd 
```
2. **matplotlib.pyplot** : Data Visualization
```python
import matplotlib.pyplot as plt
```
3. **numpy** : Data Analysis, Calcuation , processing
```python
import numpy as np
```
4. **Scikit-learn (sklearn)** : Machine Learning algorithms
    - Classification
    - Regression
    - Clustering: SVM (Support Vector Machines), Random Forests, Gradient Boosting, k-means and DBSCAN
    
![alt text](https://drive.google.com/uc?id=15aE5uHbj5N_vpF2VaZ6a77_Y0FBS_g55)

## 5. Shortcut

Reference
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330
- `Shift + Enter` run the current cell, select below
- `Alt + Enter` run the current cell, insert below (Alt = option)
- `Ctrl + D` delete a line (works in bigQuery too)
- `Ctrl + /` command a line (works in bigQuery too)
- `Esc + a` create new cell above
- `Esc + b` create new cell below

## 6. Data Types
Reference https://www.tutorialsteacher.com/python/python-number-type
1. Number
1. String
1. List
1. Tuple
1. Dictionary
1. Dataframe (Pandas)

## 6.1. Number
> - `Integer`
> - `Float`

In [ ]:
# Interger
a=10
b=2
type(a)

In [ ]:
a=10
a

In [ ]:
# Float
pi = 3.141592653589793
# print(pi)
type(pi)

In [ ]:
# + (Addition)
x = a+b
x
print('a+b =',x)

In [ ]:
# - (Subtraction)
print(a-b)

In [ ]:
# * (Multiplication)
z = a*b
print('a*b=', a*b)

In [ ]:
# / (Division)
div = a/b
type(div)

In [ ]:
# % (Modulus) 餘數
c = 11
d = 3
mod = c%d
mod

In [ ]:
# ** (Exponent)
a=2
b=9
exp = a**b
exp

In [ ]:
sqrt = 144**0.5
sqrt

In [ ]:
# // (Floor Division) 無條件捨棄小數點
a = 314
b = 25

x = a/b
y = a//b

# print('x=',x,'; y=',y)
type(y)

### Built-in Functions
1. int
1. float
1. abs
1. round

In [ ]:
# int
pi = 3.141592653589793
int(pi)

In [ ]:
# float
float(pi)

In [ ]:
# abs
abs(-pi)

In [ ]:
# round
round(pi,5)

## 6.2. String

In [ ]:
str1 = 'Hello'
str2 = 'World'

In [ ]:
# + (Appends the second string to the first)
str1 + ' ' + str2

In [ ]:
# * (Concatenates multiple copies of the same string)
a = 'Hello'
a*3

In [ ]:
# [] Returns the character at the given index(starting with zero)
str1 = 'Hello'
str1[0]

In [ ]:
test = str1 + str2
print(test)
test[0:5]  #include index=0; exclude index=5

In [ ]:
test[6:]

In [ ]:
# in (Returns true if a character exists in the given string - case sensitive)
test = 'Hello Python'
'y' in test

In [ ]:
'Y' in test

In [ ]:
# not in (Returns true if a character does not exist in the given string)
'on' not in test

In [ ]:
x = 3
y = str(3)

print( 'x type = ' + str(type(x)) )
print( 'y type = ' + str(type(y)) )

## 6.3. List
In Python, the list is a collection of items of different data types. It is an ordered sequence of items. A list object contains one or more items, not necessarily of the same type, which are separated by comma and enclosed in square brackets `[ ]`
```python
list = [value1, value2, value3,...valueN]
```

In [ ]:
staff = ['Annie','Brian','Clare','Diana']
Age = [30, 28, 49, 80]
mix = ['Elsa', 18, 'Elley', 15, ['prince']]

In [ ]:
print(mix)

['Elsa', 18, 'Elley', 15, ['prince']]

#### index
> Each individual element in the sequence is accessed by the index in the square brackets `[ ]`. An index starts with `zero`, as shown below.

In [ ]:
staff[1]

#### MODIFY
> The list object is mutable. It is possible to modify its contents, which will modify the value in the memory.

In [ ]:
vegetable = ['potato','corn','tomato','eggplant','broccoli', 'carret','beans']
vegetable[1] = 'apple'
vegetable

#### `del` 
>Use the del keyword to delete the list object.
```python
del list[index]
```

In [ ]:
# delete by index value
del vegetable[3]
vegetable

In [ ]:
# delete by index range
del vegetable[0:1]
vegetable

#### `.remove( )`
> Remove specific item from list
```
list.remove(item)
```

In [ ]:
vegetable = ['potato','corn','tomato','eggplant','broccoli', 'carret','beans']
# vegetable.remove('eggplant')
# vegetable.remove([vegetable[0])
# vegetable
x = vegetable[0:2]
x
vegetable.remove(x)

#### `len( )`
> The `len( )` method returns the number of elements in the list/tuple.

In [ ]:
vegetable = ['potato','corn','tomato','eggplant','broccoli', 'carret','beans']
len(vegetable)

#### `append( )`
> Adds an item at the end of the list.

In [ ]:
vegetable.append('lettuce')
vegetable

#### `insert( )`
> Inserts an item in a list at the specified index.

In [ ]:
vegetable.insert(2,'onion')
vegetable

#### .sort()
- `sort( )` Ascending
- `sort(reverse=True)` Descending
> Rearranges the items in the list according to the alphabetical order. Default is the ascending order.

In [ ]:
vegetable.sort()
vegetable

In [ ]:
vegetable.sort(reverse=True)
vegetable

In [ ]:
numbers = [1, 240, 309, 888, -21, 402, 2046]
numbers.sort()
numbers

In [ ]:
numbers.sort(reverse=False)
numbers

## 6.4 Tuple

Tuple is a collection of items of any Python data type, same as the list type. Unlike the list, tuple is **immutable** . 

The tuple object contains one or more items, of the same or different types, separated by comma and enclosed in parentheses `( )`.
```python
tuple = (value1, value2, value3,...valueN)
```

In [ ]:
vegetable = ('potato','corn','tomato','eggplant','broccoli', 'carret','beans')
vegetable[1] = ('apple')

In [ ]:
# You can use backward indexing also.
vegetable[-1]

In [ ]:
vegetable[3:-1]

#### `.sort()`

In [ ]:
vegetable.sort()

#### max()

In [ ]:
max(vegetable)

## 6.5 Dictionary
Like the list and the tuple, dictionary is also a collection type. However, it is not an ordered sequence, and it contains key-value pairs. One or more key:value pairs separated by commas`:` are put inside curly brackets`{ }` to form a dictionary object.
```python
dict = { key1:value1, key2:value2,...keyN:valueN }
```

In [ ]:
capital = {"UK":"London", "France":"Paris", "Taiwan":"Taipei", 'China':'Beijing'}

In [ ]:
Fruit = {"item":["Mango","Banana"], "Color":["Blue", "Red"]}

### Accessing a Dictionary
Dictionary is not an ordered collection, so a value cannot be accessed using an index in square brackets. A value in a dictionary can be fetched using the associated key, using the `get( )` method. Specify the key in the get() method to retrieve its value.

#### `.get`

In [ ]:
capital.get('Taiwan')

In [ ]:
Fruit.get('Color')

#### .items()
Retrieve both key and value

In [ ]:
capital.items()

dict_items([('UK', 'London'), ('France', 'Paris'), ('Taiwan', 'Taipei'), ('China', 'Beijing')])

### View Keys and Values
The `keys()` and `values()` methods of Python dictionary class return a view object consisting of keys and values respectively, used in the dictionary.

#### `.keys()`

In [ ]:
capital.keys()

#### `.values()`

In [ ]:
capital.values()

- `len( )`
Returns the number of key:value pairs in the dictionary.

In [ ]:
capital = {"UK":"London", "France":"Paris", "Taiwan":"Taipei", 'Australia':'Melbourne'}
len(capital)

4

#### `update()`
> Adds key-value pairs from the second dictionary object to the first. If the second dictionary contains a key already used in first dictionary object, its value is updated.

In [ ]:
add = {'Germany':'Berlin', 'Netherland':'Amsterdam', 'Australia':['Canberra','Melbourne']}

In [ ]:
capital.update(add)
capital

## 7 Loops in python
Reference https://www.w3schools.com/python/python_for_loops.asp

### 1. For Loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

```python
for i in objective:
    action
```

Elements
- for , in 
- ：
- indented block

In [ ]:
# For Loops
vegetable = ('potato','corn','tomato','eggplant','broccoli', 'carret','beans')

for item in vegetable:
    print(item)

In [ ]:
# Looping Through a String
for character in 'vegetable':
    print(character)

### The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
# Exit the loop when x is "banana":
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
# Exit the loop when x is "banana", but this time the break comes before the print:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  if x == "banana":
    break
  print(x)

### The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

### The range( ) Function
To loop through a set of code a specified **number of times** , we can use the `range()` function,
The `range()` function returns a sequence of numbers, starting from `0` by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
# Note that range(6) is not the values of 0 to 6, but the values 0 to 5.
for x in range(6):
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

The `range()` function defaults to increment the sequence by 1, however it is possible to **specify the increment value** by adding a third parameter: range(2, 30, 3):

In [ ]:
for x in range(2, 30, 3):
  print(x)

### Nested Loops
A nested loop is a loop inside a loop.

The `inner loop` will be executed one time for each iteration of the `outer loop`:

In [ ]:
color = ["red", "yello", "purple"]
fruits = ["apple", "banana", "cherry"]

for x in color:
  for y in fruits:
    print(x, y)

## Combine add items and loops

In [ ]:
height = [158, 150, 178, 153, 168, 190, 143, 166, 173, 155, 158, 179, 183, 187]

club_183 = []

for i in height:
    if i >= 183:
        club_183.append(i)

print(club_183)

## 8. If ... Else

### Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

- Equals: `a == b`
- Not Equals: `a != b`
- Less than: `a < b`
- Less than or equal to: `a <= b`
- Greater than: `a > b`
- Greater than or equal to: `a >= b`

These conditions can be used in several ways, most commonly in "if statements" and loops.
An "if statement" is written by using the if keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

### Elif
The `elif` (else if )keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
# Not always need to use elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
print("a and b are equal")

### Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

### And
The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

### Or
The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

# Test Yourself With Exercises

In [ ]:
shoplytics_usage = {"A":["Customer","Overview","Orders"], "B":["Customer","Overview","Orders", "Product"], "C":["Overview"], "D":["Overview","Orders", "Product", "Behavior","Promotions"], "E":["Customer","Overview","Orders", "Product"]}

# 1. What is shoplytics_usage data type?


# 2. Use for loop to get number of Pages each users have visited
# Expected Answer would be
# A: 3
# B: 4
# C: 1
# D: ... etc


# 3. Is there anyone visited the same pages ( Use nested loops function)
# Expected Answer would be
# A C , C A