
# Pandas
Pandas dataframe is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)

Document https://pandas.pydata.org/pandas-docs/version/0.23.4/api.html#dataframe

<img src="https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png" alt="drawing" width="600"/>

# Getting and Knowing your Data

|SQL Like || Python pandas| |Purpose|
|:--|:--|:--|:--|:--|
|SELECT * FROM || pd.read_csv(path) |
| JOIN || merge |
|WHERE  || filtering || Extracting rows |
|  || .loc[ ] |
|  || .iloc[ ] |
|ORDER BY || sorting|
|GROUP BY  || grouping | 
| ||delete||
| ||indexing||
|COUNT ||stats||

Reference
- https://github.com/guipsamora/pandas_exercises

## Step 1. Import the necessary libraries
```python
import [library]

import [library] as [new_name]
```

Reference
- https://medium.com/pyladies-taiwan/python-%E7%9A%84-import-%E9%99%B7%E9%98%B1-3538e74f57e3

In [1]:
import pandas as pd

##Step 2.1. Import the dataset

### 1) From local csv file
```python
path = './dataset_file.csv'  # ./ (relative to current working directory root)
pd.read_csv( path, sep, index_col, usecols )
```
- `sep` : Separator. Default `‘,’`
- `index_col` : Index Column(索引). Column to use as the row labels of the DataFrame . Default `None`
- `usecols` : Return a subset of the columns be used. 

Reference
- https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_csv.html#pandas.read_csv

In [2]:
# Import dataset from local file
path = '/content/drive/My Drive/Colab Notebooks/res/all_mixpanel.csv' 
pd.read_csv(path)

                    handle        Date        path  Sessions Month   Day  year
0           3493001991      Jan 13 '20     /orders         1   Jan  13.0  2020
1         100415093949      Jan 14 '20           /         1   Jan  14.0  2020
2         308144591389      Jan 13 '20           /         1   Jan  13.0  2020
3         360633189595      Jan 13 '20           /         1   Jan  13.0  2020
4         729485978410      Jan 13 '20     /orders         1   Jan  13.0  2020
...                    ...         ...         ...       ...   ...   ...   ...
40345        cakesandcakes  Feb 23 '20  /analytics         1   Feb  23.0  2020
40346           mrmushroom  Feb 23 '20  /analytics         4   Feb  23.0  2020
40347  longfootshoushou475  Feb 23 '20  /analytics         1   Feb  23.0  2020
40348            sy38tw176  Feb 23 '20  /analytics         1   Feb  23.0  2020
40349            paperhood  Feb 23 '20  /analytics         1   Feb  23.0  2020

[40350 rows x 7 columns]

In [ ]:
# Import dataset from local file; usecols
path = '/all_mixpanel.csv' 
pd.read_csv(path, usecols = ['handle','path','Sessions'])

FileNotFoundError: ignored

### 2) From online source - url
```python
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url, sep='|', index_col='user_id')
```

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
pd.read_csv(url)

In [ ]:
pd.read_csv(url, sep='|', index_col='zip_code')

健保特約機構口罩剩餘數量明細清單
- https://data.nhi.gov.tw/Datasets/DatasetResource.aspx?rId=A21030000I-D50001-001

![test](https://drive.google.com/uc?id=1lsNqLfbo-UhQf66Hc7D4v06c0QM_Vz7M)

In [ ]:
# Import dataset from online source - url
path = 'http://data.nhi.gov.tw/Datasets/Download.ashx?rid=A21030000I-D50001-001&l=https://data.nhi.gov.tw/resource/mask/maskdata.csv'
# path = 'https://drive.google.com/uc?id=1nIv2QwX84souLYwcR6GP45NbsAtPzAdC'
pd.read_csv(path)

### 3) Create a data frame from scratch
- https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

```python
pd.DataFrame(data, index, column)
```

#### Lists of lists

In [ ]:
 # initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', (14)]] 
  
# Create the pandas DataFrame 
pd.DataFrame(data, columns = ['Name', 'Age'])

   Name  Age
0   tom   10
1  nick   15
2  juli   14

#### dict of narray/lists

To create DataFrame from dict of narray/list, all the narray `must be of same length`. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [ ]:
# Create data from ditionary 
source = {'Merchant': ['001', '002', '003'], 
     'GMV': [12402, 42391, 8102], 
     'OrderCount': [30, 88, 235], 
     'Shoppers': [3, 4, 1]}

pd.DataFrame(data=source)

  Merchant    GMV  OrderCount  Shoppers
0      001  12402          30         3
1      002  42391          88         4
2      003   8102         235         1

In [ ]:
pd.DataFrame(source, columns = ['Merchant', 'OrderCount'])

#### from list of dicts

In [ ]:
# Initialise data to lists. 
data = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30}] 
  
# Creates DataFrame. 
pd.DataFrame(data)

if there is NULL value

In [ ]:
# Intitialise data of lists  
data = [{'b': 2, 'c':3}, {'a': 10, 'b': 20, 'c': 30}] 
  
# Creates padas DataFrame by passing  
# Lists of dictionaries and row index. 
pd.DataFrame(data, index =['first', 'second'])

#### Creates a indexes DataFrame using arrays

In [ ]:
# initialise data of lists. 
data = {'Name':['Tom', 'Jack', 'nick', 'juli'], 'marks':[99, 98, 95, 90]} 
  
# Creates pandas DataFrame. 
pd.DataFrame(data, index =['rank1', 'rank2', 'rank3', 'rank4'])

##Step 2.2. Save the dataset

#### df.to_filetype
```python
df.to_filetype(filename)
```

##Step 3. Assign it to a variable

In [ ]:
path = '/content/all_mixpanel.csv'
df = pd.read_csv(path)
df

##Step 4. Check dataset
- `.head()` : Return the first N entries (default 5)
- `.tail()` : Return the last N rows.
- `.sample()` :Return a random sample of items from an axis of object.

### head( )

In [ ]:
# Return the first n entries, default 5
df.head(20)
# df.head(15)

### tail( )

In [ ]:
# Return first n entries, default 5
df.tail(15)
# df.tail(10)

### sample( )

In [ ]:
# Randomly Return n entries, default 1
df.sample(5)

##Step 5. What is the number of observations / columns in the dataset

### `.shape`

In [ ]:
df.shape

In [ ]:
df.shape[0]

In [ ]:
df.shape[1]

## Step 6. Print the name of all the columns

### `.columns`

In [ ]:
df.columns

## Step 7. How is the dataset indexed?

### `.index`

In [ ]:
# "the index" (aka "the labels")
df.index

In [ ]:
mix_panel = pd.read_csv('/content/drive/My Drive/Colab Notebooks/res/all_mixpanel.csv', index_col='handle')
mix_panel.head()
df = mix_panel.copy()

##Step 8. What is the data type of each column?

### `.dtypes`

In [ ]:
df.dtypes

In [ ]:
df

## Step 9. Print a needed column

### `.column`

``` python
df.column
```

or

``` python
df['column']
```

In [ ]:
df.path

In [ ]:
df[['path'],['handle']]

## Step 10. How many different elements are in this column?

### nunique()

In [ ]:
df.path.nunique()

In [ ]:
df['path'].nunique()

### value_counts()
by using `value_counts()` which returns the count of unique elements

In [ ]:
df.path.value_counts()

### count()

In [ ]:
df.path.count()

## Step 11. Summarize the DataFrame

### describe()

In [ ]:
df.describe() #Notice: by default, only the numeric columns are returned.

In [ ]:
# Step 15. Summarize all the columns
df.describe(include = "all") #Notice: By default, only the numeric columns are returned.

## More code for viewing and Inspecting Data
https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673

- `df.mean()` Returns the mean of all columns
- `df.corr()` Returns the correlation between columns in a data frame
- `df.count()` Returns the number of non-null values in each data frame column
- `df.max()` Returns the highest value in each column
- `df.min()` Returns the lowest value in each column
- `df.median()` Returns the median of each column
- `df.std()` Returns the standard deviation of each column

In [ ]:
df.corr()

# SELECT Clause

## Select needed columns

You can select a column `df[col]` and return column with label col as `Series` or a few columns `df[[col1, col2]]` and returns columns as a new `DataFrame`.

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/res/all_mixpanel.csv')
df.head()

In [ ]:
df[['handle','Date','path','Sessions']].head()

In [ ]:
type(df[['handle','Date','path','Sessions']])

In [ ]:
type(df['handle'])

In [ ]:
type(df[['handle']])

In [ ]:
type(df.path)

## Add new column based on the existing columns

### df['NewCol']

In [ ]:
df = pd.DataFrame({'Expiration':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'], 
                    'ItemID':['Apple', 'Banana', 'Cherry', 'Kiwi'], 
                    'Cost':[10000, 5000, 15000, 2000]}) 
df

In [ ]:
# Sales price would be 30% extra of Cost
df['Price'] = df.Cost * 1.3

df

In [ ]:
df['Price'] = df['Price']*1.3
df

## Datetime operation


### .apply(pd.to_datetime)

In [ ]:
import pandas as pd

path = 'http://data.nhi.gov.tw/Datasets/Download.ashx?rid=A21030000I-D50001-001&l=https://data.nhi.gov.tw/resource/mask/maskdata.csv'
df = pd.read_csv(path)
df.head()

In [ ]:
df_nhs = df.copy()
df_nhs.columns = ['ID', 'Organization','Address','Phone','AdultAmount','KidAmount','Sourcetime']
df_nhs.head()

In [ ]:
len(df_nhs)

In [ ]:
# df_nhs['date'] = df_nhs['Datetime'].dt.date
df_nhs.dtypes

In [ ]:
df_nhs['Datetime'] = df_nhs['Sourcetime'].apply(pd.to_datetime)
df_nhs.dtypes

### .dt.date

In [ ]:
df_nhs['Date'] = df_nhs['Datetime'].dt.date
df_nhs.head()

## Data Cleaning - NaN

### df.dropna

```python 
DataFrameName.dropna(axis=0, how='any')
````

1. axis: axis takes int or string value for rows/columns. Input can be 0 or 1 for Integer and ‘index’ or ‘columns’ for String.
2. how: how takes string value of two kinds only (‘any’ or ‘all’). ‘any’ drops the row/column if ANY value is Null and ‘all’ drops only if ALL values are null.

- Reference https://www.w3resource.com/pandas/dataframe/dataframe-dropna.php

NBA data 
https://drive.google.com/open?id=1Uzdua5o61cfXMz1K16NNcwLFqG91J6W4

In [ ]:
import pandas as pd
NBA_data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/res/nba.csv")
NBA_data

In [ ]:
# Dropping Rows with at least 1 null value
df = NBA_data.copy()
df = df.dropna(axis = 0, how ='any') 
df

In [ ]:
# dropping row with all null values 
df = NBA_data.copy()
df = df.dropna(axis = 0, how ='all') 
df

In [ ]:
# dropping column with all null values 
df = NBA_data.copy()
df = df.dropna(axis = 1, how ='any') 
df

### df.fillna()

```python
DataFrame.fillna(value=None, method=None, axis=None)
```
1. value : Static, dictionary, array, series or dataframe to fill instead of NaN.
2. method : Method is used if user doesn’t pass any value. Pandas has different methods like `bfill`, `backfill` or `ffill` which fills the place with value in the Forward index or Previous/Back respectively.
3. axis: axis takes int or string value for rows/columns. Input can be 0 or 1 for Integer and ‘index’ or ‘columns’ for String

- https://www.w3resource.com/pandas/series/series-fillna.php

In [ ]:
df = NBA_data.copy()
df = df[2:7]
df

In [ ]:
#Replace all NaN elements with 0s.
mean_value = df.Salary.mean()
df.fillna(mean_value)

In [ ]:
# Replace non-null values forward.
df.fillna(method='ffill')

In [ ]:
# Replace non-null values backward.
df.fillna(method='bfill')

# WHERE

###loc
Gets rows (or columns) with particular **LABELS** from the index.
```python
df.loc[row, column]
```

In [ ]:
import pandas as pd
# Data referenced from task https://shopline.atlassian.net/browse/BI-68
# 
data = {'type1':[26, 38, 41, 56, 62], 'type2':[1745, 1803, 1881, 1932, 1914]} 
cb_merchants = pd.DataFrame(data, index =['2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4', '2020-Q1']) 

cb_merchants
# type1 : base country != base currency code
# type2 : base country != delivery country

In [ ]:
# What are the number for both tyoes in 2019-Q3
cb_merchants.loc['2019-Q3']

In [ ]:
# How many type2 merchants in 2019-Q3 and after
cb_merchants.loc['2019-Q3': , 'type1':]

In [ ]:
cb_merchants.loc[1:3] # slice up to and including label 3

# Get error, because 1,3 are not index value

In [ ]:
df = cb_merchants.copy().reset_index()
df.head()

In [ ]:
df.loc[1:3, 'type1':'type2']
# .loc must assign the value base on index value!

###iloc

Gets rows (or columns) at **particular POSITIONS** in the index (so it only takes integers)

In [ ]:
df.iloc[3:] # slice the first three rows

In [ ]:
df.iloc[2:-1, 1:-1]

#### Example :  `iloc` & `for loop`

In [ ]:
NBA_data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/res/nba.csv") #.dropna(axis = 0, how ='any').reset_index()
df = NBA_data.copy()
df
## Please remember to reset index

In [ ]:
df['Tag'] = ''
for i in range(df.shape[0]):
  value = df.iloc[i, df.columns.get_loc("Salary") ]
  if value < 2000000:
    df['Tag'][i] = 'Normal'
  elif value >= 2000000 and value < 5000000:
    df['Tag'][i] = 'Rich'
  else:
    df['Tag'][i] = 'Super Rich'

df

#### Example: loc and conditions

In [ ]:
#Practice mix with loc and conditions
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/res/all_mixpanel.csv', index_col= 'handle')
df.loc[df.path.isin(['/', '/orders']), ['path','Date']]

## filter by column operations
```python
df[(col condition)]
```

In [ ]:
df = NBA_data.copy()
# df
df.Position == 'SG'

In [ ]:
df = NBA_data.copy()
df = df[(df.Position == 'SG') & (df.Salary >= 1000000)]
# df = df[(df['Position'] == 'SG') & (df['Salary'] >= 1000000)]
df

## .str.startswith

In [ ]:
df = NBA_data.copy().dropna(how ='any') 
df = df[df['Name'].str.startswith('R')]
df.head()

## .str.contains

```python
Series.str.contains(self, pat, case=True, flags=0, na=nan, regex=True)
```

- https://www.w3resource.com/pandas/series/series-str-contains.php

In [ ]:
# df = NBA_data.copy()
# df = df[(df.Name.str.contains('Blake|Jonas', na=False))]
# df

df.Name.str.contains('Blake|Jonas', na=False)

# GROUP BY clause

### df.groupby()

```python
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
```

1. by : mapping, function, str, or iterable
1. axis : int, default 0
level : If the axis is a MultiIndex (hierarchical), group by a particular level or levels
1. as_index : For aggregated output, return object with group labels as the index. Only relevant for DataFrame input. as_index=False is effectively “SQL-style” grouped output
1. sort : Sort group keys. Get better performance by turning this off. Note this does not influence the order of observations within each group. groupby preserves the order of rows within each group.
1. group_keys : When calling apply, add group keys to index to identify pieces
squeeze : Reduce the dimensionality of the return type if possible, otherwise return a consistent type

- https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/

In [ ]:
df = NBA_data.copy().dropna(axis=0, how='any')
df

### df.groupby().size()

In [ ]:
NBA_grp = df.groupby(by = ['Team','Position']).size().reset_index()
NBA_grp

### df.groupby().count()

In [ ]:
df = NBA_data.copy().dropna(axis=0, how='any')
NBA_grp = df.groupby(by = ['Team','Position']).count().reset_index()
NBA_grp.head(10)

### df.groupby().sum()

In [ ]:
df = NBA_data.copy().dropna(axis=0, how='any')
NBA_grp = df.groupby(by = ['Team','Position']).sum().reset_index()
NBA_grp.head(10)

### df.groupby().agg()

In [ ]:
df = NBA_data.copy().dropna(axis=0, how='any')
NBA_grp = df.groupby(by = ['College','Position']).agg({'Age': 'nunique', 'Salary':'median', 'Height':'max','Weight':'mean'})
NBA_grp.head(13)

# ODER BY clause

## .sort_values
```python
DataFrame.sort_values(by, axis=0, ascending=True, na_position='last')
```
1. by: Single/List of column names to sort Data Frame by.
2. axis: 0 or ‘index’ for rows and 1 or ‘columns’ for Column.
3. ascending: Boolean value which sorts Data frame in ascending order if True.

4. na_position: Takes two string input 'last' or ‘first’ to set position of Null values. Default is ‘last’.

- https://www.geeksforgeeks.org/python-pandas-dataframe-sort_values-set-1/

In [ ]:
df = mix_panel.copy()
# df.sort_values(['handle', 'path','Date'], ascending = False)
df.sort_values(['handle', 'path','Date'], ascending = [False, True, False])

# .pivot_table()

```python
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc=’mean’, fill_value=None, margins=False, dropna=True)
```

1. `data` : DataFrame
1. `values` : column to aggregate, optional
1. `index`: column, Grouper, array, or list of the previous
1. `columns`: column, Grouper, array, or list of the previous

1. `aggfunc`: function, list of functions, dict, default `numpy.mean`
  -> If list of functions passed, the resulting pivot table will have hierarchical columns whose top level are the function names.
  -> If dict is passed, the key is column to aggregate and value is function or list of functions

  - np.mean
  - np.std
  - pd.Series.nunique
  - count
  - sum
  - min
  - max
  - median



6. `fill_value`[scalar, default None] : Value to replace missing values with
margins[boolean, default False] : Add all row / columns (e.g. for subtotal / grand totals)
7. `dropna`[boolean, default True] : Do not include columns whose entries are all NaN

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

In [ ]:
df = NBA_data.copy()

table = pd.pivot_table(df, 
                       index =['Team','Position'], 
                       aggfunc= {'Age':'median','Height':'max', 'Name':'count', 'College':pd.Series.nunique})
table
# df

In [ ]:
df = mix_panel.copy().reset_index()
df
pd.pivot_table(df, index =['handle', 'path'], columns=['Date'])

In [ ]:
df = mix_panel.copy()
table = pd.pivot_table(df, index =['handle'], columns=['path'], fill_value= 0, aggfunc= {'Date':pd.Series.nunique})
table

# JOIN and Combine

https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/
![](https://miro.medium.com/max/2588/1*kGuUJxJwsuiLRa5pL3bsCA.png)


- https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/

In [ ]:
df = {
        'merchant_id': ['001', '002', '003', '004', '005','100'],
        'handle': ['Alex', 'Benny', 'Charlie', 'Dean', 'Evans','Iwona'], 
        'path': ['Customer', 'Analytics', 'Orders', 'Product', 'Customer','Product']
      }
df_a = pd.DataFrame(df, columns = ['merchant_id', 'handle', 'path'])
df_a

In [ ]:
df = {
        'merchant_id': ['005', '002', '006', '007', '008'],
        'handle': ['Evans', 'Benny', 'Freddy', 'George', 'Hugo'], 
        'path': ['Analytics', 'Customer', 'Orders', 'Product', 'Orders']
      }
df_b = pd.DataFrame(df, columns = ['merchant_id', 'handle', 'path'])
df_b

## .concat()

```python
pd.concat([df1, df2],axis=1)
```

In [ ]:
# Join the two dataframes along rows
# similar with UNION
df_new = pd.concat([df_a, df_b])
df_new

In [ ]:
# Join the two dataframes along columns
# pd.concat([df_a, df_b], axis=1)
pd.concat([df_b, df_a], axis=1)

## .merge()
Combine info alone with another dataframe

```python
pd.merge(left, right, 
          how='inner',  #inner, outer, left, right
          on=None, 
          sort=True,
          suffixes=('_x', '_y')
         )
```

suffixes: A tuple of string suffixes to apply to overlapping columns. Defaults to ('_x', '_y').

In [ ]:
raw_data = {
        'merchant_id': ['001', '002', '003', '004', '005', '006', '007', '008', '009', '010'],
        'current_plan': ['Pro', 'Lite', 'Basic', 'Pro', 'Lite', 'Basic', 'Basic', 'Pro', 'Lite', 'Basic']}
df_n = pd.DataFrame(raw_data, columns = ['merchant_id','current_plan'])
df_n

### INNER JOIN

Merge with inner join
“Inner join produces only the set of records that match in both Table A and Table B.”

In [ ]:
# Merge two dataframes along the subject_id value
pd.merge(df_a, df_b, on='merchant_id', how ='outer')

In [ ]:
pd.merge(df_a, df_b, on='merchant_id', how = 'inner')

### LEFT JOIN

Merge with left join
“Left outer join produces a complete set of records from Table A, with the matching records (where available) in Table B. If there is no match, the right side will contain null.”

In [ ]:
# Merge two dataframes with both the left and right dataframes using the subject_id key
pd.merge(df_new, df_n, on='merchant_id', how='left')

### suffix 
Merge while adding a suffix往後添加 to duplicate column names

In [ ]:
pd.merge(df_a, df_b, on='merchant_id', how='left', suffixes=('_left', '_right'))